In [ ]:
#Build companyDB
import sqlite3
import csv
from iexfinance.stocks import Stock

with open('companylist.csv','r') as csvfile:
    reader = csv.DictReader(csvfile)
    symbols = [row['Symbol'] for row in reader]
print(len(symbols))
conn = sqlite3.connect('companyDB.db')
c = conn.cursor()
c.execute("DROP TABLE if exists company")
c.execute(
    "CREATE TABLE IF NOT EXISTS company(id int, abbreviation text　COLLATE NOCASE, city text　COLLATE NOCASE, "
    "conference text　COLLATE NOCASE, division text　COLLATE NOCASE,full_name text　COLLATE NOCASE,name text　COLLATE NOCASE)")
for symbol in symbols:
        try:
            stk = Stock(symbol,token="sk_9520be7c9fdb4ae5ad5055d91ce95721")
            res = stk.get_company()
        except:
            print(symbol+" not find!")
            continue
        else:
            if len(results) < 2:
                results.append(symbol)
                print(symbol)
            else:
                return results
    return results

for team in result['data']:
    insert_str = "INSERT INTO team(id, abbreviation, city, conference, division, full_name, name) VALUES(?,?,?,?,?,?,?)"
    t = tuple(team.values())
    c.execute(insert_str, t)
c.execute("commit")

In [28]:
import sqlite3
conn = sqlite3.connect('companyDB.db')
c = conn.cursor()
c.execute("SELECT city FROM company")
with open("citys.txt","w") as f:
    for i in set(c.fetchall()):
        if i[0] is not None:
            f.writelines(i[0]+"\n")

In [8]:
len("something about the stock ")

26

In [36]:
import sqlite3
conn = sqlite3.connect('companyDB.db')
c = conn.cursor()
c.execute("SELECT * FROM company WHERE symbol=?",("FTEO",))
print(c.fetchall())

[('FTEO', 'FRONTEO, Inc.', 'NASDAQ', None, 'Tokyo', 'JP')]

In [3]:
INIT,AUTHED,CHOOSE_COFFEE,ORDERED=range(4)
policy_rules = {
    (INIT, None): (10, None,None),
    (INIT, "number"): (AUTHED, "perfect, welcome back!", None),
    (AUTHED, "order"): (CHOOSE_COFFEE, "would you like Columbian or Kenyan?", None),    
    (CHOOSE_COFFEE, "specify_coffee"): (ORDERED, "perfect, the beans are on their way!", None)
}
it = 0
if policy_rules.__contains__((AUTHED,None)):
    it,that,his= policy_rules[(AUTHED,None)]
print(it)

0

In [6]:
list(('AAPL',))

['AAPL']

In [13]:
news = ['a','b','c','d']
news[-3:]

['b', 'c', 'd']